*,
*::before,
*::after {
    padding: 0;
    margin: 0.25rem;
    box-sizing: border-box;
}

&&::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;

    max-width: var(--max-width-page);
    margin: 0 auto;
}

th{
    text-align: left;
}

#output{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}