*,
*::before,
*::after {
    padding: 0;
    margin: 0.25rem;
    box-sizing: border-box;
}

&&::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;

    max-width: var(--max-width-page);
    margin: 0 auto;
}

th{
    text-align: left;
}

button{
    padding: 0.5rem 1rem;
    border-radius: 100vw;
    background-color: mediumseagreen;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.8;
    }
}

#output{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background-color: whitesmoke;
    margin-bottom: 6rem;
}

.md-header{
    display: flex;
    margin-bottom: 1rem;
}